{
  "sneaky": {
    "name": "sneaky",
    "version": "HEAD",
    "destinations": [
      "git@server:/tmp/sneaky1",
      "git@server:/tmp/sneaky2"
    ],
    "excludes": [
      ".git",
      "node_modules"
    ],
    "before": "npm i --production",
    "after": "cd /tmp/sneaky; ls"
  }
}
